.codeEditorContainer {
  /* font-size: 12pt; */
  /* text-align: left; */
  margin-left: 100pt;
  margin-right: 100pt;
}

.codeEditor {
  font-family: "Fira code", "Fira Mono", monospace;
  font-size: 12pt;
  background: #44464b;
}

.error {
  color: red;
}